on:
  push:
    branches:
      - main
  pull_request:
name: acceptance tests on production
jobs:
  check-env:
    outputs:
      has-key: ${{ steps.project-id.outputs.defined }}
    runs-on: ubuntu-latest
    steps:
    - id: project-id
      env:
        GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      if: "${{ env.GCP_PROJECT_ID != '' }}"
      run: echo "::set-output name=defined::true"

  test:
    needs: [check-env]
    if: needs.check-env.outputs.has-key == 'true'
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 4
      matrix:
        ruby: [3.0]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby
    # (see https://github.com/ruby/setup-ruby#versioning):
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: ${{ matrix.ruby }}
    - name: Authenticate Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}
    - name: Setup GCloud
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
    - name: Install dependencies
      run: bundle install
    - name: Run acceptance tests on production
      run: bundle exec rake acceptance\[,,,"exclude cases/migration"\]
      env:
        SPANNER_TEST_PROJECT: ${{ secrets.GCP_PROJECT_ID }}
        SPANNER_TEST_INSTANCE: ruby-activerecord-test
