on:
  push:
    branches:
      - main
  pull_request:
name: ci
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        ruby: ["3.1", "3.2", "3.3", "3.4"]
        ar: ["~> 7.0.0", "~> 7.1.0", "~> 7.2.0", "~> 8.0.0"]
        # Exclude combinations that are not supported.
        exclude:
          - ruby: "3.1"
            ar: "~> 8.0.0"
          - ruby: "3.4"
            ar: "~> 7.0.0"
          - ruby: "3.4"
            ar: "~> 7.1.0"
          - ruby: "3.4"
            ar: "~> 7.2.0"
    env:
      AR_VERSION: ${{ matrix.ar }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby
    # (see https://github.com/ruby/setup-ruby#versioning):
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: false
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: bundle install
    - name: Run tests
      run: bundle exec rake test TESTOPTS="-v"
